<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <div v-if="tampil">{{message}}</div>
        
        <div v-if="nilai > 8">lu pinter mas</div>
        <div v-else-if="nilai <= 8 && nilai >= 6">belajar lagi</div>
        <div v-else="nilai > 6">aih berentimo sekolah</div>

    </div>

    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp({
            data() {
                return {
                    message : "hello world",
                    tampil : true,
                    nilai : 3
                }
            },
        }).mount("#app")
    </script>
</body>
</html>